<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
	<testsuites>
		<testsuite name="Sunrise HTTP Factory Test Suite">
			<directory>./tests/</directory>
		</testsuite>
		<testsuite name="Integration tests">
			<directory>./vendor/http-interop/http-factory-tests/test</directory>
		</testsuite>
	</testsuites>

	<php>
		<const name="REQUEST_FACTORY" value="Sunrise\Http\Factory\RequestFactory"/>
		<const name="RESPONSE_FACTORY" value="Sunrise\Http\Factory\ResponseFactory"/>
		<const name="SERVER_REQUEST_FACTORY" value="Sunrise\Http\Factory\ServerRequestFactory"/>
		<const name="STREAM_FACTORY" value="Sunrise\Http\Factory\StreamFactory"/>
		<const name="UPLOADED_FILE_FACTORY" value="Sunrise\Http\Factory\UploadedFileFactory"/>
		<const name="URI_FACTORY" value="Sunrise\Http\Factory\UriFactory"/>
	</php>
</phpunit>
